/*
 * iCrowd
 * Nick Kaye & Chris Luken
 * Mobile Dev Camp NYC 2012
 **/

/** RESET **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** iCrowd **/

html,body {
    overflow:hidden;
    font-family:sans-serif;
}

.mainTip {
    display:block;
    position: absolute;
    z-index:1100;
    color:#000;
    font-size:24pt;
    letter-space:-1pt;
    font-weight:900;
}

.mainTipTop {
    top: 20px;
}

.mainTipMiddle {
    top: 48%;
}

.mainTipBottom {
    bottom: 20px;
}

.mainTipLeft {
    left: 20px;
}

.mainTipRight {
    right: 20px;
}

#mainColorBlock {
    padding:0 0 0 0;
    margin:0 0 0 0;
    display:block;
    background-color: #999;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1000;
}

#mainTouchArea {
    padding:0 0 0 0;
    margin:0 0 0 0;
    display:block;
    background:transparent none;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 1200;
}

/** hello form **/

h2,p {
    margin-bottom:20px;
}

h2 {
    font-weight:bold;
}

#helloForm {
    display:block;
    background-color: #000;
    color:#fff;
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    z-index: 2000;
    padding: 20px 20px 20px 20px;
    margin:0 0 0 0;
}

#helloForm label {
    display:inline-block;
    width:100%;
    text-transform: uppercase;
    font-size:8pt;
    font-weight:bold;
    letter-spacing: 1pt;
}

#helloForm ul {
    display:inline-block;
    width:100%;
}

#helloForm li {
    display:inline-block;
    width:100%;
    height:60px;
}